<!DOCTYPE html>
<html>
<head>
	<title>BITPOWER 代码开放共享平台</title>
	<style>
		body {
			/*background-color: #434343;*/
			/*color: #f3f3f3;*/
			color: #434343;
		}
		.slogan {
			text-align: center;
			margin-top: 300px;
			font-weight: 400;
			font-size: 30px;
			letter-spacing: 2px;
		}
		.powered-by {
			margin-top: 10px;
			text-align: center;
		}
		.powered-by b {
			cursor: pointer;
		}
	</style>
</head>
<body>
	<h2 class="slogan">BITPOWER 代码开放共享平台</h2>
	<p class="powered-by">powered by <b onclick="window.location.href='/static/docs/heysoo';">Heysoo</b></p>
</body>
</html>